@import url('assets/fonts/Roboto.css') layer(base);
@import url('themes.css') layer(theme);

@import 'tailwindcss';

@theme {
  /* Background Colors */
  --color-background: var(--background);
  --color-neutral-dark: var(--neutral-dark);
  --color-neutral-light: var(--neutral-light);

  /* Cores Tema */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  /* Cores de Texto */
  --color-text-secondary: var(--text-secondary);
  --color-text-primary: var(--text-primary);

  /* Sombra */
  --color-shadow: var(--shadow);

  /* Cores naturais */
  --color-red: var(--red);
  --color-blue: var(--blue);
  --color-yellow: var(--yellow);
  --color-green: var(--green);
  --color-purple: var(--purple);

  /* Cores claras */
  --color-red-light: var(--red-light);
  --color-blue-light: var(--blue-light);
  --color-yellow-light: var(--yellow-light);
  --color-green-light: var(--green-light);
  --color-purple-light: var(--purple-light);

  /* Cores de Hover */
  --color-hover-button: var(--hover-button);
}

html {
  --font-size: 16px;

  color: var(--color-text-primary);
  font-size: var(--font-size);
  font-family: Roboto, sans-serif;
}

[data-theme="alternative"] img {
  filter: grayscale(100);
}

button:hover, a:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 50px;
  height: 100%;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 50px;
}
