:root {
  /* Cores de Background */
  --background: #fbfbfb;
  --neutral-dark: #f3eff1;
  --neutral-light: #f7f4f5;

  /* Cores Tema */
  --primary: #021b2b;
  --secondary: #b10c43;
  --accent: #ff0841;

  /* Cores de Texto */
  --text-primary: #909090;
  --text-secondary: #021b2b;

  /* Sombra */
  --shadow: #e3dddf;

  /* Cores naturais */
  --red: #de3d32;
  --blue: #639ec3;
  --yellow: #f2ce06;
  --green: #75b553;
  --purple: #ca6ec4;

  /* Cores claras */
  --red-light: #f4c7c7;
  --blue-light: #cae2e9;
  --yellow-light: #fcffe5;
  --green-light: #e4f6da;
  --purple-light: #e8d8e6;

  /* Cores de Hover */
  --hover-button: #ff0841;
}

[data-theme='alternative'] {
  /* Cores de Background */
  --background: #fbfafa;
  --neutral-dark: #f3eff1;
  --neutral-light: #f7f4f5;

  /* Cores Tema */
  --primary: #000204;
  --secondary: #3f3f3f;
  --accent: #5e5e5e;

  /* Cores de Texto */
  --text-primary: #292929;
  --text-secondary: #000000;

  /* Sombra */
  --shadow: #e3dddf;

  /* Cores naturais */
  --red: hsl(from #de3d32 h 0% 40%);
  --blue: hsl(from #639ec3 h 0% 40%);
  --yellow: hsl(from #f2ce06 h 0% 40%);
  --green: hsl(from #75b553 h 0% 40%);
  --purple: hsl(from #ca6ec4 h 0% 40%);

  /* Cores claras */
  --red-light: hsl(from #f4c7c7 h 0% l);
  --blue-light: hsl(from #cae2e9 h 0% l);
  --yellow-light: hsl(from #fcffe5 h 0% l);
  --green-light: hsl(from #e4f6da h 0% l);
  --purple-light: hsl(from #e8d8e6 h 0% l);

  /* Cores de Hover */
  --hover-button: #5e5e5e;
}
